*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./imgs/Secondlook.jpg);
    background-size: cover;
    background-position: center;
}